<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/detail.css"> 
    <link rel="stylesheet" href="/tasks.css"> 
    <title>Document</title>
</head>
<body>
    <div>
        <h1 class="titulo">Detalle de tarea
        </h1>
        <p>
            <b>Nombre</b>
            <span>
                <%= task.title %>
            </span>
            
        </p>
        <p>
            <b>Detalle</b>
            <span>
            <%= task.description%>
            </span>
        </p>
        <p>
            <b>Estado</b>
            <span>
            <%= task.done == 0? "Pendiente":"Realizada" %>
            </span>
        </p>
        <br>
    
        <a href="/tasks/edit/<%=task.id%>">
            <button class= "boton" id="editar" type="submit"> Editar</button> 
        </a>
    
        <a href="/tasks/delete/<%=task.id%>">
            <button class= "boton" id="eliminar" type="submit"> Eliminar</button> 
        </a>
    
        <a href="/tasks">
            <button class= "boton" id="Volver" type="submit"> Volver</button> 
        </a>
    </div>


</body>
</html>